local.properties
gradle-app.setting

# Numerous always-ignore extensions
*.py[oc]
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
*.class
*.iml

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea
bin
gen
out
.build
.build/**
app/build/**
!app/build/outputs/proguard/release
.gradle
captures

.idea/instapk.xml
instapk.log*
/build/
